* {
	box-sizing: border-box;
}

body {
	background-color: #222;
	font-size: 16dppx;
}

#meter {
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 40px;
	top: 50%;
	left: 50%;
	margin-top: -42px;
	margin-left: -42px;
	background-color: #1b1b1b;
	border: 4px solid #1b1b1b;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: background-color .2s linear, border-color .2s linear;
}

#meter.active {
	background-color: #111;
	border-color: #111;
}

#meter > span {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
	background-color: #fafafa;
}

#meter::before {
	color:rgba(255,255,255,.15);
	font-size: 2em;
	text-align: center;
	position: absolute;
	line-height: 75px;
	width: 100%;
	height: 100%;
	-webkit-transition: color .2s linear;
}

#meter.active::before {
	color: rgba(255,255,255,.6);
}

#message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: .8em;
}